/* *********************BARRE-DE-NAVIGATION********************* */
nav {
  border-bottom: 2px solid var(--light-grey);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  background: var(--opaque-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav h1 {
  font-size: 2.1rem;
  color: var(--dark-gray);
  letter-spacing: 1px;
}

ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark-gray);
  padding: 8px 15px;
  font-size: 1.3rem;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

li a:hover,
li a:focus-visible {
  color: var(--electric-blue);
  background: rgba(0, 4, 255, 0.05);
  border-color: var(--electric-blue);
  outline: none;
}

/*<!-- *********************CONTENU-PRINCIPALE********************* --> */
.hero-section {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 50px;
}

.header-left {
  width: 40%;
  background: var(--opaque-white);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 8px 7px 5px rgba(0, 0, 0, 0.05);
}
.header-left h2 {
  color: var(--dark-gray);
  border-bottom: 2px solid var(--electric-blue);
  padding-bottom: 10px;
  margin-bottom: 27px;
  display: inline-block;
}

.jump-line {
  padding-bottom: 15px;
}

.header-left p a,
.header-left p button {
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
  color: var(--electric-blue);
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}

.header-left p button:hover {
  border-bottom: 2px solid var(--electric-blue);
}

.header-right {
  width: 70%;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.slider-track {
  display: flex;
  animation: scroll 10s linear infinite;
}

.slider-track img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-100%);
  }
}

.slider-track:hover {
  animation-play-state: paused;
}

/* <!-- *********************AVIS-CLIENTS********************* --> */
/* .reviews {
  padding: 50px 50px;
  margin: 50px;
  margin-top: 0px;
  background: var(--opaque-white);
  text-align: center;
  border-radius: 15px;
  box-shadow: 8px 7px 5px rgba(0, 0, 0, 0.05);
}

.reviews h2 {
  color: var(--dark-gray);
  border-bottom: 2px solid var(--electric-blue);
  padding-bottom: 10px;
  margin-bottom: 27px;
  display: inline-block;
}

.reviews-placeholder {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.reviews-placeholder p {
  font-style: italic;
  color: var(--dark-gray);
  line-height: 1.6;
  margin-bottom: 25px;
}

.btn-review {
  text-decoration: none;
  align-self: center;
  background: var(--electric-blue);
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-review:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 4, 255, 0.3);
  filter: brightness(1.1);
}

.btn-review:active {
  transform: translateY(0);
  filter: brightness(0.9);
} */

/* <!-- *********************FORMULAIRE-DE-CONTACT********************* --> */
.contact-form {
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px 50px;
  background: var(--opaque-white);
  text-align: center;
  border-radius: 15px;
  box-shadow: 7px 4px 5px rgba(0, 0, 0, 0.05);
}

.contact-form h2 {
  color: var(--dark-gray);
  border-bottom: 2px solid var(--electric-blue);
  padding-bottom: 10px;
  margin-bottom: 27px;
  display: inline-block;
}

.contact-form form {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--opaque-white);
  border-radius: 10px;
  background: #f9f9f9;
  transition: 0.3s;
  resize: none;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--electric-blue);
  background: white;
  box-shadow: 0 0 8px rgba(0, 4, 255, 0.1);
}

.btn-contact {
  text-decoration: none;
  align-self: center;
  background: var(--electric-blue);
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-contact:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 4, 255, 0.3);
  filter: brightness(1.1);
}

.btn-contact:active {
  transform: translateY(0);
  filter: brightness(0.9);
}

/* <!-- *********************RESPONSIVE-DESIGN-PHONE********************* --> */
@media screen and (max-width: 592px) {
  .reviews,
  .contact-form {
    margin: 20px 30px;
    padding: 20px;
  }

  /* --- NAVIGATION --- */
  nav {
    display: block;
    text-align: center;
    padding: 15px;
  }
  ul {
    display: block;
    margin-top: 10px;
  }
  li {
    display: inline-block;
    margin: 5px;
  }
  li a {
    display: inline-block;
    font-size: 1rem;
    padding: 8px 12px;
  }

  /* --- HERO SECTION --- */
  .hero-section {
    margin: 20px 10px;
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 0px;
    display: block;
  }

  .header-left,
  .header-right {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .header-left h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  .header-left p {
    text-align: left;
  }

  /* --- CARTES (AVIS & CONTACT) --- */
  .reviews-placeholder {
    display: inline-block;
    width: 100%;
    max-width: none;
  }
  .contact-form form {
    display: flex;
    width: 100%;
    max-width: none;
  }

  /* --- AJUSTEMENT TEXTES --- */
  nav h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  p,
  input,
  textarea,
  button {
    font-size: 1rem;
  }
}
/* <!-- *********************RESPONSIVE-DESIGN-TABLET********************* --> */
@media screen and (min-width: 593px) and (max-width: 1040px) {
  .reviews,
  .contact-form {
    margin: 20px 30px;
    padding: 20px;
  }

  /* --- NAVIGATION --- */
  nav {
    display: block;
    text-align: center;
    padding: 15px;
  }
  ul {
    display: block;
    margin-top: 10px;
  }
  li {
    display: inline-block;
    margin: 5px;
  }
  li a {
    display: inline-block;
    font-size: 1.2rem;
    padding: 8px 12px;
  }

  /* --- HERO SECTION --- */
  .hero-section {
    margin: 20px 10px;
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 0px;
    display: block;
  }

  .header-left,
  .header-right {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .header-left h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  .header-left p {
    text-align: left;
  }

  /* --- CARTES (AVIS & CONTACT) --- */
  .reviews-placeholder {
    display: inline-block;
    width: 100%;
    max-width: none;
  }
  .contact-form form {
    display: flex;
    width: 100%;
    max-width: none;
  }

  /* --- AJUSTEMENT TEXTES --- */
  nav h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.4rem;
    text-align: center;
  }
  p,
  input,
  textarea,
  button {
    font-size: 1rem;
  }
}
